.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disclaimer-premium .text {
    flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
}

.disclaimer-premium button:hover {
    transform: scale(1.04);
}

@media only screen and (max-width: 1024px) {
    .disclaimer-premium button {
        font-size: 12px;
    }
    .disclaimer-premium .disclaimer-premium__title{
        font-size: 10px;
    }
    .disclaimer-premium .disclaimer-premium__subtitle{
        font-size: 12px;
    }
}
